.loading {
    width: 0.667in;
    height: 0.667in;
    color: rgba(4, 109, 126, 1);
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
